<header>
	<legend><h2><%= @event.name %></h2>	</legend>
</header>
<content class="view-event">
	<div class="view-content">
		<p><i class="glyphicon glyphicon-map-marker"></i>&nbsp;<%= @event.location %></p>
		<p><i class="glyphicon glyphicon-calendar"></i>&nbsp;<%= @date %></p>
		<p><i class="glyphicon glyphicon-time"></i>&nbsp;<%= @event.start_doe.strftime("%I:%M %p") +" to " + @event.end_doe.strftime("%I:%M %p") %></p>
		<p><i class="fa fa-inr"></i>&nbsp;<%= @event.fee %></p>	
		<p><h3>Description</h3> <%= @event.desc %> </p>
		<div class = "attend">
			<% if logged_in %> 
				<% if @expired %>
					<p>Event Expired</p>
				<% else %>
					<%= link_to("Going",{:action => 'change_status', :event_id => @event.id, :status => "yes"}, :class => 'btn btn-success btn-sm btn-block',:disabled => @a_default) %>
					<%= link_to("Maybe",{:action => 'change_status', :event_id => @event.id, :status => "maybe"}, :class => 'btn btn-warning btn-sm btn-block',:disabled => @m_default)%>
					<%= link_to("Not Going",{:action => 'change_status', :event_id => @event.id, :status => "no"}, :class => 'btn btn-danger btn-sm btn-block',:disabled => @n_default)%>
				<% end %>
			<% else %>
				<%= link_to("Login to attend this event",{:controller => 'access',:action => 'login'}) %>
			<% end %> 
		</div>
	</div>
	<aside>
		<% if logged_in %> 
			<% if @expired %>
				<h3>People Attended</h3>
			<% else %>
				<h3>People Attending</h3>
			<% end %>	
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Gender</th>
					</tr>
				</thead>
				<tbody>
					<% @event.users.each do |user| %>
						<% if user.event_entries[0].status == "yes" %>
							<tr>
								<td><%= user.name %></td>
								<td><%= user.gender %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</aside>
</content>


